@tailwind preflight;
@tailwind components;

 html, body {
     @apply .h-full;
 }
 
.form-label {
    @apply .font-semibold .uppercase .text-xs .text-grey-darker .tracking-wide .block .mb-2;
}

.form-control {
    @apply .w-full .border .px-3 .py-2;
}

.form-group {
    @apply .mb-4;
}

.form-error {
    @apply .text-red .text-xs;
}

.btn {
    @apply .px-4 .py-2;
}

.btn {
    @apply .bg-blue-dark .text-white;
}
.btn:hover {
    @apply .bg-blue;
}

@tailwind utilities;