<template>
    <div class="bg-white px-4 md:px-6 py-4 w-full max-w-md mx-auto md:pt-8 md:shadow-lg flex-1 flex flex-col overflow-hidden">
        <div class="flex items-center justify-between mb-2 md:mb-4">
            <h1 class="text-lg md:text-2xl font-semibold">Tasks</h1>
            <a href="#" class="text-grey-darkest no-underline hover:underline text-grey-darker hover:text-blue-dark" @click.prevent="toggleSettings">
                <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path class="fill-current" d="M6.8 3.45c.87-.52 1.82-.92 2.83-1.17a2.5 2.5 0 0 0 4.74 0c1.01.25 1.96.65 2.82 1.17a2.5 2.5 0 0 0 3.36 3.36c.52.86.92 1.8 1.17 2.82a2.5 2.5 0 0 0 0 4.74c-.25 1.01-.65 1.96-1.17 2.82a2.5 2.5 0 0 0-3.36 3.36c-.86.52-1.8.92-2.82 1.17a2.5 2.5 0 0 0-4.74 0c-1.01-.25-1.96-.65-2.82-1.17a2.5 2.5 0 0 0-3.36-3.36 9.94 9.94 0 0 1-1.17-2.82 2.5 2.5 0 0 0 0-4.74c.25-1.01.65-1.96 1.17-2.82a2.5 2.5 0 0 0 3.36-3.36zM12 16a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path>
                    <circle cx="12" cy="12" r="2" class="fill-current"></circle>
                </svg>
            </a>
        </div>
        <todo-form></todo-form>
        <todo-list :source="'/tasks'"></todo-list>
    </div>
</template>

<script>
    export default {
        methods: {
            toggleSettings() {
                Events.$emit('toggleSettings')
            }
        }
    }
</script>
