<template>
    <div class="flex-1 overflow-auto">
        <sortable-list v-model="tasks" v-on:sorted="updatePositions">
            <ul class="list-reset" slot-scope="{ items }">
                <todo-task v-for="(task, i) in items" v-bind:key="task.id" :task="task" @deleteTask="deleteTask" :class="{'pt-2' : i == 0}">
                    {{ task.description }}
                </todo-task>
            </ul>
        </sortable-list>
    </div>
</template>

<script>
    export default {
        props: ['source'],
        
        data() {
            return {
                tasks: []
            }
        },

        computed: {
            test1() {
                return this.tasks.map(task => {
                    return task.description
                })
            }
        },
        
        created() {
            Events.$on('newTask', this.getTasks)

            this.getTasks()
        },

        methods: {
            getTasks() {
                axios.get(this.source)
                    .then(response => {
                        this.tasks = response.data.tasks
                    })
            },

            addTask(task) {
                this.tasks.push(task)
            },

            deleteTask(task) {
                this.tasks.forEach((task2, index) => {
                    if(task2.id == task.id) {
                        axios.delete('/tasks/' + task.id).then(response => {
                            this.tasks.splice(index, 1)
                        })
                    }
                })
            },

            updatePositions(oldIndex, newIndex) {
                axios.patch('/tasks/' + this.tasks[oldIndex].id + '/reorder/' + (newIndex + 1)).then(response => {
                    this.tasks.forEach((task, index) => {
                        task.position = index + 1
                    })
                })
            }
        }
    }
</script>

<style>
    .draggable-mirror {
        background:#fff;
        border: 1px solid #dae1e7;
    }
    .draggable--over {
        background:#dae1e7
    }
    .draggable--over * {
        opacity:0
    }
</style>