<template>
    <li class="flex items-center border-b border-grey-lighter px-2 py-2" :class="{'text-grey-dark' : completed}">
        <svg class="h-6 pr-2" @click="changeStatus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <circle class="stroke-current fill-white" stroke-width="2" cx="12" cy="12" r="10"></circle>
            <path :class="{'fill-current' : completed, 'fill-white' : ! completed}" stroke-width="2" d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"></path>
        </svg>
        <span class="flex-1 ml-2" :class="{'line-through' : completed}" v-show="! editing" @click="editTask"><slot></slot></span>
        <input type="text" class="flex-1 border p-2" v-model="task.description" v-show="editing" @blur="update" @keyup.enter="update">
        <svg class="h-8 fill-current text-red hover:text-red-darker cursor-pointer" @click="$emit('deleteTask', task)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path class="secondary" fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/>
        </svg>
        <div class="sortable-handle text-grey-darker ml-2">
            <svg class="h-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="secondary" fill-rule="evenodd" d="M8.7 9.7a1 1 0 1 1-1.4-1.4l4-4a1 1 0 0 1 1.4 0l4 4a1 1 0 1 1-1.4 1.4L12 6.42l-3.3 3.3zm6.6 4.6a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
        </div>
    </li>
</template>

<script>
    export default {
        props: ['task'],

        data() {
            return {
                editing: false
            }
        },

        computed: {
            completed() {
                return this.task.completed_at != null
            }
        },

        methods: {
            editTask() {
                this.editing = true
                Vue.nextTick(() => this.$el.querySelector('input').focus())
            },

            changeStatus() {
                if(this.completed) {
                    axios.patch('/tasks/' + this.task.id + '/incomplete')
                        .then(response => {
                            this.task.completed_at = null
                        })
                }
                else {
                    axios.patch('/tasks/' + this.task.id + '/completed')
                        .then(response => {
                            this.task.completed_at = response.data.completed_at
                        })
                }
            },

            update() {
                axios.patch('/tasks/' + this.task.id, {
                    description: this.task.description
                }).then(response => {this.editing = false})
            }
        }
    }
</script>
