<template>
    <div class="mb-2 md:mb-4">
        <div class="flex">
            <input type="text" v-model="task" @keyup.enter="addTask" class="px-2 border border-r-0 flex-1">
            <button @click="addTask" class="btn btn-blue">Add</button>
        </div>
        <div v-show="showSettings" class="mt-2">
            <div class="inline-flex items-center cursor-pointer select-none" @click="addToTop = ! addToTop">
                <span v-show="addToTop" class="rounded-full flex items-center w-8 h-5 bg-green justify-end p-px">
                    <span class="rounded-full w-4 h-4 mr-px bg-white"></span>
                </span>
                <span v-show="! addToTop" class="rounded-full flex items-center w-8 h-5 bg-grey justify-start p-px">
                    <span class="rounded-full w-4 h-4 ml-px bg-white"></span>
                </span>
                <span class="ml-2 text-xs">Add new tasks to the top</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                task: '',
                addToTop: true,
                showSettings: false
            }
        },

        created() {
            Events.$on('toggleSettings', this.toggleSettings);
        },

        methods: {
            addTask() {
                if(this.task == '') return

                axios.post('/tasks', {
                    description: this.task,
                    position: this.addToTop ? 'first' : 'last'
                }).then(response => {
                    Events.$emit('newTask', response.data)
                    this.task = ''
                })

                this.toggleSettings(false)
            },

            toggleSettings(show = null) {
                this.showSettings = show != null ? show : ! this.showSettings
            },

            supportsLocalStorage() {
                return typeof(Storage) !== 'undefined'
            }
        },

        mounted() {
            if(! this.supportsLocalStorage()) return

            let value = localStorage.getItem('addToTop')
            if(value != null) {
                this.addToTop = (value === 'true')
            }
        },

        watch: {
            addToTop(value) {
                if(! this.supportsLocalStorage()) return
                
                localStorage.setItem('addToTop', value)
            }
        }
    }
</script>
